div#photo {
  floatright
}

body {
  background-color: green;
}

h1 {
  font-family: "Address Sans Pro Xt";
  font-size: 48px;
  margin-bottom: -10px;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  color: yellow;
  text-shadow: 2px 2px black;
}

h2 {
  font-family: "Address Sans Pro Xt";
    font-size: 48px;
    margin-bottom: -10px;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    color: yellow;
    text-shadow: 2px 2px black;
  }


div#content {
  margin: 40px;
  padding: 20px;
  border: dashed 20px lightgreen;
  background-color: lightgreen;
}

p#purpose{
  margin-left: 30px
}

p {
  margin-left: 30px;
  font-size: 20px;
  font-family: "Dubai Mediam", cursive; sans-serif;
}

p#h2 {
  padding-right: 500px
}

span#bigword {
  font-family: serif;
  font-style: italic;
  font-weight: bolder;
  font-size: 30px;
}

img#fitted {
  width: 280px;
  margin-left auto;
  margin-right: auto;
  display: block;
  padding: 10px 10px 10px 10px;
}

div#myselfie {
  width: 300px;
  float: right;
  margin-right: 40px;
  margin-top: 20px;
  background-color: forestgreen;
}

p#myselfiecaption {
  text-align: center;
  text-decoration: underline;
  margin-top: -0px;
  margin-right: -40px;
  margin-left: -30px;
  font-family: monospace;
}
