div#content {
  background-color: orange;
  border: dashed 35px #575cff;
}

body {
  background-color: #5e0112;
}

img {
  width: 170px;
}

div#floated {
  width: 30%;
  float: right;
  font-size: 20px;
  background-color: grey;
  text-align: center;
  overflow: scroll;
  height: 400px;
}

div#center-horz {
  width: 30%;
  text-align: center;
  background-color: grey;
  float: left;
  height: 210px;
}

p#strawberryshake {
  font-size: 20px;
}

div#center-img {
  width: 30%;
  background-color: red;
  text-align: center;
}

div#center-both {
  width: 30%;
  background-color: red;
  text-align: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-family: fantasy;
  padding-left: 10px;
  padding-top: 10px;
  text-shadow: 2px 2px white;
  text-transform: uppercase;
}

h2 {
  font-family: fantasy;
  padding-left: 10px;
  text-shadow: 2px 2px white;
  text-transform: uppercase;
}

p {
  color: #48044a;
  font-family: "Poppins";
  font-size: 20px;
  padding-left: 10px
}
